<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <title>Addonis</title>
</head>
<body>
<nav th:fragment="navbar-fragment" class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav"  >
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top" th:href="@{/}">Addonis</a>
    <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:href="@{/addons}">ALL ADD-ONS</a>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:if="${isAuthenticated}" th:href="@{/users}">ALL USERS</a>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:if="${isAuthenticated}" th:href="@{/user}">PROFILE</a>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:unless="${isAuthenticated}" th:href="@{/auth/login}" >LOGIN</a>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:unless="${isAuthenticated}" href="#" th:href="@{/auth/register}" >REGISTER</a>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}" >LOG OUT</a>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>