* {
    margin: 0;
    padding: 0;
}


.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url("../assets/img/1.jpg") fixed;
    background-size: cover;
    font-family: Roboto, cursive;
    height: 150vh;
}

.navbar {
    margin: 0 auto;
    display: flex;
    width: 90%;
    align-items: center;
}

.navbar .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.navbar .menu li {
    margin: 0 10px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    font-family: Arial, ui-rounded;
}


ul li {
    list-style: none;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

.search {
    font-family: 'Times New Roman', system-ui;
    background: transparent;
    border: 1px solid #ff7200;
    color: #fff;
    border-right: none;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 30px;
}

.btn {
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #fff;
    font-size: 20px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.search:focus {
    outline: none;
}

.content {
    height: auto;
    margin: auto;
    color: #fff;
    position: absolute;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, ui-rounded;
    letter-spacing: 1px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman', ui-rounded;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
}

/*.form {*/
/*    width: 200px;*/
/*    height: 400px;*/
/*    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50px, rgba(0, 0, 0, 0.8) 50px);*/
/*    position: absolute;*/
/*    mso-pagination: keep-with-next;*/
/*    top: -650px;*/
/*    left: 1900px;*/
/*    border-radius: 10px;*/
/*    padding: 25px;*/

/*}*/

/*.form h2 {*/
/*    width: 190px;*/
/*    font-family: sans-serif;*/
/*    text-align: center;*/
/*    color: #ff7200;*/
/*    font-size: 22px;*/
/*    background-color: white;*/
/*    border-radius: 10px;*/
/*    margin: 2px;*/
/*    padding: 8px;*/
/*}*/

/*.form input {*/
/*    width: 200px;*/
/*    height: 35px;*/
/*    background: transparent;*/
/*    border-bottom: 1px solid #ff7200;*/
/*    border-top: none;*/
/*    border-right: none;*/
/*    border-left: none;*/
/*    color: #fff;*/
/*    font-size: 15px;*/
/*    letter-spacing: 1px;*/
/*    margin-top: 30px;*/
/*    font-family: sans-serif;*/
/*}*/

/*.form input:focus {*/
/*    outline: none;*/
/*}*/

/*::placeholder {*/
/*    color: #fff;*/
/*    font-family: Arial ui-rounded;*/
/*}*/

/*.btnn {*/
/*    width: 200px;*/
/*    height: 40px;*/
/*    background: #ff7200;*/
/*    border: none;*/
/*    margin-top: 30px;*/
/*    font-size: 18px;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*    color: #fff;*/
/*    transition: 0.4s ease;*/
/*}*/

/*.btnn:hover {*/
/*    background: #fff;*/
/*    color: #ff7200;*/
/*}*/

/*.btnn a {*/
/*    text-decoration: none;*/
/*    color: #000;*/
/*    font-weight: bold;*/
/*}*/

/*.form .link {*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    font-size: 17px;*/
/*    padding-top: 20px;*/
/*    text-align: center;*/
/*}*/

/*.form .link a {*/
/*    text-decoration: none;*/
/*    color: #ff7200;*/
/*}*/

/*.liw {*/
/*    padding-top: 15px;*/
/*    padding-bottom: 10px;*/
/*    text-align: center;*/
/*}*/

/*.icons a {*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*}*/

/*.icons ion-icon {*/
/*    color: #fff;*/
/*    font-size: 30px;*/
/*    padding-bottom: 16px;*/
/*    padding-right: 17px;*/
/*    padding-top: 5px;*/
/*    transition: 0.3s ease;*/
/*}*/

/*.icons ion-icon:hover {*/
/*    color: #ff7200;*/
/*}*/


table .table_responsive {
    border: 1px solid #ff7200;
    background-color: transparent;
    padding-right: 10px;
    overflow: auto;
    border-radius: 4px;
}

table {
    display: block;
    margin-left: 30px;
    width: 20%;
    height: 50%;
    font-size: 16px;
    color: #ff7200;
    white-space: nowrap;
    border-collapse: collapse;

}

table > thead {
    background-color: #ff7200;
    color: #fff;

}
.btnModal{
    color: #ff7200;
}
table > thead th {
    padding-right: 80px;
}

table th,
table td {
    border: 1px solid #ff7200;
    padding: 5px 10px;
    position: center;

}

table > tbody > tr > td > img {
    display: inline-block;
    object-fit: cover;
    border-radius: 80%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
    position: center;
    text-align: center;
}

.tableLogo {
    color: #ff7200;
    font-size: 30px;
    font-family: Arial, ui-rounded;
    padding-left: 20px;
    padding-top: -200px;
}

td .rating {
    direction: rtl;
}

td .rating input {
    display: none;
}

td .rating label {
    display: inline-block;
    width: 25px;
    position: relative;
    cursor: pointer;
}

td .rating label:before {
    content: "\2605";
    position: center;
    font-size: 25px;
    display: inline-block;
    bottom: -10px;
    color: white;

}

.rating label:after {
    content: "\2605";
    position: absolute;
    font-size: 25px;
    display: inline-block;
    color: #ff7200;
    opacity: 0;
    left: 2px;
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
    opacity: 1;

}

.bodymodal {
    margin:0;
    font-size: 18px;
    font-family: 'Roboto', cursive;
    color: #000;

}

table tbody td {
    text-align: center;
}

.container{
    display:grid;
    justify-content: center;
    align-items: center;
}
.modal{
    position: fixed;
    background: rgba(255, 255, 255, 0.30);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    text-align: center;
}
data tr {
    display: none;
}
.modal:target{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;

}
.modal>div{
    width: 1000px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.2em;
    background: #ff7200;
    border-radius: 8px;
    text-align: center;
}

.modal h1{
    font-size: 2em;
    margin: 0 20px;
    position: center;
    padding-bottom: 50px;
}
.close{
    color: #ff7200;
    line-height: 45px;
    font-size: 22px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.close:hover{
    color: #222;
}
.action_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action_btn > a {
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.action_btn > a:nth-child(1) {
    border: 2px solid #ff7200;
}

.action_btn > a:nth-child(2) {
    border: 2px solid #ff7200;
}

.action_btn > a:hover {
    box-shadow: 0 3px 8px #0003;
}


table > tbody > tr {
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
