<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Addon</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    Stylesheet
    <style media="screen">
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;

        }

        body {
            background-color: #080710;
            height: 100%;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

        .shape:first-child {
            background: linear-gradient(
                    #1845ad,
                    #23a2f6
            );
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient(
                    to right,
                    #ff512f,
                    #f09819
            );
            right: -30px;
            bottom: -80px;
        }

        form {
            height: content-box;
            width: 30%;
            background-color: rgba(255, 255, 255, 0.13);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 100%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
        }

        form * {
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        button {
            margin-top: 50px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

        .social div {
            background: red;
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: rgba(255, 255, 255, 0.27);
            color: #eaf0fb;
            text-align: center;
        }

        .social div:hover {
            background-color: rgba(255, 255, 255, 0.47);
        }

        .social .fb {
            margin-left: 25px;
        }

        .social i {
            margin-right: 4px;
        }

    </style>

</head>
<body>


<div>
    <form th:fragment="addon-update" name="update" method="post"
          th:action="@{__${#httpServletRequest.requestURI}__}" encType="multipart/form-data" th:object="${addon}">

        <td text-center="center" ><img style="margin-left: 100px" height="60px" width="60px" th:if="${addon.getImage() == null} " class="img-fluid"
                                src="https://e-addons.com/wp-content/uploads/2020/07/logo_e-addons-150x150.png"
                                alt="">
            <img height="60px" width="60px" th:unless="${addon.getImage() == null}" th:src="@{${addon.getPhotoBytes()}}"
                 class="img-fluid" alt="">
        </td>

        <label th:align="center" th:text="#{addon.label.name}">Description</label>
        <input type="text" th:field="*{name}"/>
        <label class="error" th:errors="*{name}">Name error placeholder</label>
        <br/><br/>

        <label th:align="center" th:text="#{addon.label.description}">Description</label>
        <br/>
        <input type="text" th:field="*{description}"/>
        <label class="error" th:errors="*{description}">Description error placeholder</label>
        <br/><br/>

        <label th:align="center" th:text="#{addon.label.originLink}">Origin link</label>
        <br/>
        <input type="text" th:field="*{originLink}"/>
        <label class="error" th:errors="*{originLink}">Origin Link error placeholder</label>
        <br/><br/>
        <br/>

        <label th:align="center" th:text="#{addon.label.ide}">Ide</label>
        <br/>
        <input  type="text" th:field="*{ide}"/>
        <label class="error" th:errors="*{ide}">Ide error placeholder</label>
        <br/><br/>
        <br/>

        <label th:align="center" th:text="#{addon.label.tags}">Ide</label>
        <br/>

        <select th:field="*{tags}" style="margin-left: 180px; background-color: rgba(255, 255, 255, 0.07)">
            <option th:each="tag : ${tags}"
                    th:value="${tag.getId()}"
                    th:text="${tag.getTagName()}">
            </option>
        </select>
        <label class="error" th:errors="*{tags}">Tag error placeholder</label>
        <br/><br/>

        <label th:align="center" th:text="#{addon.label.image}">Image</label>
        <form id="update" name="update" method="POST" th:action="@{/addons/update}" encType="multipart/form-data">
            <input type="file" name="images" multiple required />
            <button type="submit">Submit</button>
        </form>

    </form>
    <!--    <div>-->
    <!--        <h3>List of Documents</h3>-->
    <!--        <table>-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--                <th>Id</th>-->
    <!--                <th>Name</th>-->
    <!--                <th>Download Link</th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            &lt;!&ndash;/*@thymesVar id="addons" type="com"*/&ndash;&gt;-->

    <!--            </tbody>-->
    <!--        </table>-->
    <!--    </div>-->
</div>






</form>
</body>
</html>

