<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/addonsstyle.css" th:href="@{/css/addonsstyle.css}" rel="stylesheet"/>
    <title th:text="${addon.getId() + ' ' + addon.getName() + ' Profile'}">Addon Profile</title>
    <style>
        .heading a {
            color: white;
            text-decoration: none;
            cursor: pointer;
            transition: 0.4s ease-in-out;
        }

        .table, td, a {
            text-decoration: none;
        }

        .logo a {
            color: #ff7200;
            transition: 0.4s ease-in-out;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="navbar">
        <div class="heading">
            <h2 class="logo"><a th:href="@{/addons}"> Addonis</a></h2>

            <ul class="menu">

                <li><a href="#" th:if="${isAuthenticated}" th:href="@{/user}">PROFILE</a></li>
                <li><a href="/#portfolio">ABOUT</a></li>
                <li><a href="/#contacts">CONTACTS</a></li>
            </ul>
        </div>
    </div>
    <div>
        <table class="table_responsive">
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Creator</th>
                <th>IDE</th>
                <th>Number of downloads</th>
                <th>Tags</th>
                <th>Rating</th>
                <th>Download link</th>
                <th>Details</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td align="center"><img height="60px" width="60px" th:if="${addon.getImage() == null}" class="img-fluid"
                                        src="https://e-addons.com/wp-content/uploads/2020/07/logo_e-addons-150x150.png"
                                        alt="">
                    <img height="60px" width="60px" th:unless="${addon.getImage() == null}" th:src="@{${addon.getPhotoBytes()}}"
                         class="img-fluid" alt="">
                </td>
                <td>
                    <a style="color: #ff7200" th:text="${addon.getName()}"></a>
                </td>
                <td>
                    <div class="bodymodal">
                        <div class="container">
                            <div class="inner">
                                <a th:href="'#open-modal-description' + ${addon.getId()}"
                                   class="btnModal">DESCRIPTION</a>
                            </div>
                        </div>
                        <div class="modal" th:id="'open-modal-description'+${addon.getId()}">
                            <a href="#" title="close" class="close">Close</a>
                            <div>
                                <h1>DESCRIPTION</h1>
                                <br>
                                <p><span th:text="${addon.getDescription()}"></span></p>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span th:text="${addon.getCreator().getUsername()}"></span>
                </td>
                <td>
                    <span th:text="${addon.getIde()}"></span>
                </td>
                <td>
                    <span th:text="${addon.getNumberOfDownloads()}"></span>
                </td>
                <td>
                    <span th:text="${addon.getTags().getTagName()}"></span>
                </td>
                <td>
                    <div class="rating">
                        <input type="radio" name="star" id="star1"><label for="star1"></label>
                        <input type="radio" name="star" id="star2"><label for="star2"></label>
                        <input type="radio" name="star" id="star3"><label for="star3"></label>
                        <input type="radio" name="star" id="star4"><label for="star4"></label>
                        <input type="radio" name="star" id="star5"><label for="star5"></label>
                    </div>
                </td>
                <td>
                    <a th:href="@{'addons/downloadFile/'+${addon.getId()} } ">Download</a>
                </td>
                <td>
                    <div class="bodymodal">
                        <div class="container">
                            <div class="inner">
                                <a th:href="'#open-modal-details' + ${addon.getId()}" class="btnModal">Details</a>
                            </div>
                        </div>
                        <div class="modal" th:id="'open-modal-details' + ${addon.getId()}">
                            <a href="#" title="close" class="close">Close</a>
                            <div>
                                <h1>Details</h1>
                                <p>Last Commit: <span th:text="${addon.getDetails().getLastCommit()}"></span></p>
                                <p>Open Issues: <span th:text="${addon.getDetails().getOpenIssues()}"></span></p>
                                <p>Pull Requests: <span th:text="${addon.getDetails().getPullRequest()}"></span></p>
                                <p>Last Commit Message: <span
                                        th:text="${addon.getDetails().getLastCommitMessage()}"></span></p>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                           <span class="action_btn">
                                <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/{id}/update(id=${addon.getId()})}">Edit</a>
                                 <a href="#" th:href="@{/addons/{id}/delete(id=${addon.getId()})}">Delete</a>
                            </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>