<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div>
    <form th:fragment="addon-form" name="uploadFiles" method="POST"
          th:action="@{/addons/uploadFiles}" encType="multipart/form-data" th:object="${addon}">


        <label th:align="center" th:text="#{addon.label.name}">Description</label>
        <input type="text" th:field="*{name}"/>
        <label class="error" th:errors="*{name}">Name error placeholder</label>
        <br/><br/>

        <label th:align="center" th:text="#{addon.label.description}">Description</label>
        <br/>
        <input type="text" th:field="*{description}"/>
        <label class="error" th:errors="*{description}">Description error placeholder</label>
        <br/><br/>

        <label th:align="center" th:text="#{addon.label.originLink}">Origin link</label>
        <br/>
        <input type="text" th:field="*{originLink}"/>
        <label class="error" th:errors="*{originLink}">Origin Link error placeholder</label>
        <br/><br/>
        <br/>

        <label th:align="center" th:text="#{addon.label.ide}">Ide</label>
        <br/>
        <input type="text" th:field="*{ide}"/>
        <label class="error" th:errors="*{ide}">Ide error placeholder</label>
        <br/><br/>

        <label th:align="center" th:text="#{addon.label.tags}">Ide</label>
        <br/>
        <select th:field="*{tags}" style="margin-left: 180px; background-color: rgba(255, 255, 255, 0.07)">
            <option style="background-color: rgba(255, 255, 255, 0.07)" th:each="tag : ${tags}"
                    th:value="${tag.getId()}"
                    th:text="${tag.getTagName()}">
            </option>
        </select>
        <label class="error" th:errors="*{tags}">Tag error placeholder</label>
        <br/><br/>

        <h3>Upload add-on file</h3>
        <form id="uploadFiles" name="uploadFiles" method="POST" th:action="@{/addons/uploadFiles}"
              encType="multipart/form-data">
            <input type="file" name="files" multiple required/>
            <button type="submit">Submit</button>
        </form>
    </form>
</div>
<!--</form>-->
</body>
</html>

