<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Addonis</title>
    <link href="../static/css/addonsstyle.css" th:href="@{/css/addonsstyle.css}" rel="stylesheet"/>
    <style>
        .heading a{
            color: white;
            text-decoration: none;
            cursor: pointer;
            transition: 0.4s ease-in-out;
        }
        .table, td, a{
            text-decoration: none;
        }
    </style>
</head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="heading">
                    <h2 class="logo">Addonis</h2>
                    <ul class="menu">
                        <li><a href="/" th:text="#{navigation.home}">HOME</a></li>
                        <li><a href="#" th:if="${isAuthenticated}" th:href="@{/user}">PROFILE</a></li>
                        <li><a href="/#portfolio">ABOUT</a></li>
                        <li><a href="#" th:href="@{/addons/new}">CREATE</a></li>
                        <li><a href="/#contacts">CONTACTS</a></li>
                    </ul>
                </div>
            </div>
            <div th:each="addons : ${addonsList}">
                <h2 style="margin-left: 50px; margin-top: 30px; margin-bottom: 30px" class="tableLogo" th:text="${addons.key}"></h2>

                <div th:if="${addons.value.isEmpty()}">
                    Missing data
                </div>
                <table th:unless="${addonsList.isEmpty()}" class="table_responsive">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Creator</th>
                        <th>IDE</th>
                        <th>Downloads</th>
                        <th>Tags</th>
                        <th>Rating</th>
                        <th>Download link</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="addon : ${addons.value}">
                        <td align="center"><img height="60px" width="60px" th:if="${addon.getImage() == null}" class="img-fluid"
                                                src="https://e-addons.com/wp-content/uploads/2020/07/logo_e-addons-150x150.png"
                                                alt="">
                            <img height="60px" width="60px" th:unless="${addon.getImage() == null}"
                                 th:src="@{${addon.getPhotoBytes()}}"
                                 class="img-fluid" alt="">
                        </td>
                        <td>
                            <a style="color: #ff7200" href="addon.html" th:href="@{/addons/{id}(id=${addon.getId()})}"
                               th:text="${addon.getName()}"></a>
                        </td>
                        <td>
                            <div class="bodymodal">
                                <div class="container">
                                    <div class="inner">
                                        <a th:href="'#open-modal-description' + ${addon.getId()}"
                                           class="btnModal">DESCRIPTION</a>
                                    </div>
                                </div>
                                <div class="modal" th:id="'open-modal-description'+${addon.getId()}">
                                    <a href="#" title="close" class="close">Close</a>
                                    <div>
                                        <h1>DESCRIPTION</h1>
                                        <p>Id: <span th:text="${addon.getId()}"></span></p>
                                        <p>DESCRIPTION: <span th:text="${addon.getDescription()}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span th:text="${addon.getCreator().getUsername()}"></span>
                        </td>
                        <td>
                            <span th:text="${addon.getIde()}"></span>
                        </td>
                        <td>
                            <span th:text="${addon.getNumberOfDownloads()}"></span>
                        </td>
                        <td>
                            <span th:text="${addon.getTags().getTagName()}"></span>
                        </td>
                        <td>
                            <form class="rating">
                                <input type="radio" name="star" id="star1" value="1"><label for="star1"></label>
                                <input type="radio" name="star" id="star2" value="2"><label for="star2"></label>
                                <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
                                <input type="radio" name="star" id="star4" value="4"><label for="star4"></label>
                                <input type="radio" name="star" id="star5" value="5"><label for="star5"></label>
                            </form>
                        </td>
                        <td>
                            <a th:href="@{'/downloadFile/'+${addon.getBinaryContent()} } ">Download</a>
                        </td>
                        <td>
                            <div class="bodymodal">
                                <div class="container">
                                    <div class="inner">
                                        <a th:href="'#open-modal-details' + ${addon.getId()}" class="btnModal">Details</a>
                                    </div>
                                </div>
                                <div class="modal" th:id="'open-modal-details' + ${addon.getId()}">
                                    <a href="#" title="close" class="close">Close</a>
                                    <div>
                                        <h1>Details</h1>
                                        <p>Last Commit: <span th:text="${addon.getDetails().getLastCommit()}"></span></p>
                                        <p>Open Issues: <span th:text="${addon.getDetails().getOpenIssues()}"></span></p>
                                        <p>Pull Requests: <span th:text="${addon.getDetails().getPullRequest()}"></span></p>
                                        <p>Last Commit Message: <span
                                                th:text="${addon.getDetails().getLastCommitMessage()}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="action_btn">
                                 <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/{id}/update(id=${addon.getId()})}">Edit</a>
                                 <a href="#" th:href="@{/addons/{id}/delete(id=${addon.getId()})}">Delete</a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>