<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Addonis - Home</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js}" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/homepagestyles.css" th:href="@{css/homepagestyles.css}" rel="stylesheet">
<!--    <link href="../static/css/homepagestyles.css" th:href="@{../custom-styles.css}" rel="stylesheet">-->
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="../static/css/homepageheading.css" th:href="@{../static/css/homepageheading.css}">
    <link rel="stylesheet" href="../static/css/homepagebody.css" th:href="@{../static/css/homepagebody.css}">
</head>
<body id="page-top">
<div th:replace="fragments/navbar.html :: navbar-fragment"></div>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">Addonis</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">An add-on a day keeps the programmer away! </p>
    </div>
</header>
<section class="page-section portfolio" id="portfolio">
    <div  class="container">
        <!-- Portfolio Section Heading-->
        <div  class="text-center">
            <h2  class="page-section-heading text-secondary mb-0 d-inline-block">BEST Add-ons</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
        </div>
    </div>
</section>
<!-- Portfolio Modal-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div  class="container">
        <!-- About Section Heading-->
        <div  class="text-center">
            <h2  class="page-section-heading d-inline-block text-white">ABOUT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="pre-wrap lead">Addonis is a free add-on management API created by LambdasAndChill. The API includes the complete functionality and details needed to create an add-on! </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="pre-wrap lead">You can create your own profile, upload a picture and personal information. You can create , update, delete and browse through add-ons!</p>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="text-center">
            <h2 id="contacts" class="page-section-heading text-secondary d-inline-block mb-0">CONTACTS</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Content-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                    <div class="text-muted">Phone</div>
                    <div class="lead font-weight-bold">(+359) 888 238 384</div>
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                    <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:name@example.com">addonis@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">LOCATION</h4>
                <p class="pre-wrap lead mb-0">ul. Dobri Chintolov, bl.254, vh.3</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/StartBootstrap">
                    <i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/sbootstrap">
                <i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/startbootstrap">
                <i class="fab fa-fw fa-linkedin-in"></i></a>
                </a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">ABOUT ADDONIS</h4>
                <p class="pre-wrap lead mb-0">ADDONIS is a free to use, add-on management API </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Addonis 2021</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<!--<script src="assets/mail/jqBootstrapValidation.js"></script>-->
<!--<script src="assets/mail/contact_me.js"></script>-->
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
</body>
</html>