<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Upload / Download</title>
</head>
<body>
<div>
    <h3>Upload Multiple Files</h3>
    <form id="uploadFiles" name="uploadFiles" method="POST" th:action="@{/addons/uploadFiles}" encType="multipart/form-data">
        <input type="file" name="files" multiple required />
        <button type="submit">Submit</button>
    </form>
</div>

<div>
    <h3>List of Documents</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Download Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc:${addonFiles}">
            <td th:text="${doc.getId()}" />
            <td th:text="${doc.getBinaryContent()}"/>
            <td><a th:href="@{'/downloadFile/'+${doc.id}}">Download</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>