<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
          integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
</head>
<body>
<div class="navbar">
    <div class="heading">
        <h2 class="logo">Addonis</h2>
        <ul class="menu">
            <li><a href="/" th:text="#{navigation.home}">HOME</a></li>
            <li><a href="#" th:href="@{/user}">PROFILE</a></li>
            <li><a href="#" th:href="@{/addons/new}">CREATE ADDON</a></li>
        </ul>
    </div>
</div>
<div class="container mt-3 mb-4">
    <div class="col-lg-9 mt-4 mt-lg-0">

        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <form action="#" th:action="@{/users/search}" th:method="post"
                          th:object="${searchUserDto}">

                        <div class="input-group mb-3 col-6 float-left">
                            <span class="input-group-text" >Search</span>
                            <input th:field="*{keyword}"
                                   type="text"
                                   class="form-control"
                                   value="username, email, phone number"
                                   placeholder="username, email, or phone number">
                        </div>
                        <div>
                            <button type="submit" class="btn-outline-dark float-left col-2">Search</button>
                        </div>
                    </form>
                    <table class="table manage-candidates-top mb-0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Status</th>
                            <th class="action text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="candidates-list" th:each="user:${allUsers}">
                            <td class="title">
                                <div class="thumb">
                                    <img th:if="${user.getPhoto() == null}" class="img-fluid"
                                         src="https://skafeto.com/wp-content/uploads/2019/02/milko-kalaidjiev.png"
                                         alt="">
                                    <img th:unless="${user.getPhoto() == null}" th:src="@{${user.getPhotoBytes()}}"
                                         class="img-fluid" alt="">
                                </div>
                                <div class="candidate-list-details">
                                    <div class="candidate-list-info">
                                        <div class="candidate-list-title">
                                            <h5 class="mb-0"
                                                th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">First
                                                Name + Last Name</h5>
                                        </div>
                                        <div class="candidate-list-option">
                                            <i class="fas fa-user"></i>
                                            <span th:text="${user.getUsername()}"> username</span><br>
                                            <i class="fas fa-envelope"></i>
                                            <span th:text="${user.getEmail()}"> email</span><br>
                                            <i class="fas fa-phone pr-1"></i>
                                            <span th:text="${user.getPhoneNumber()}"> phone</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="candidate-list-favourite-time text-center">
                                <span th:if="${user.isEnabled()}" class="candidate-list-time order-1" style="color: #218838">Enabled</span>
                                <span th:if="${!user.isEnabled()}" class="candidate-list-time order-1" style="color: #c82333">Disabled</span>
                            </td>
                            <td>
                                <div class="list-unstyled mb-0 d-flex justify-content-end">
                                    <span>
                                        <form th:if="${user.isEnabled()}" action="#"
                                              th:action="@{/{id}/disable (id = ${user.getId()})}"
                                              th:object="${user}"
                                              method="post">
                                            <input type="submit" value="Disable" style="color: #c82333">
                                        </form>
                                    <span>

                                        <form th:unless="${user.isEnabled()}" action="#"
                                              th:action="@{/{id}/enable (id = ${user.getId()})}"
                                              th:object="${user}"
                                              method="post">
                                            <input type="submit"  value="Enable" style="color: #218838">
                                        </form>
                                    </span>
                                    </span>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    body {
        background-color: #f8f9fa !important
    }

    .p-4 {
        padding: 1.5rem !important;
    }

    .mb-0, .my-0 {
        margin-bottom: 0 !important;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    }
    /* user-dashboard-info-box */
    .user-dashboard-info-box .candidates-list .thumb {
        margin-right: 20px;
    }

    .user-dashboard-info-box .candidates-list .thumb img {
        width: 80px;
        height: 80px;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }

    .user-dashboard-info-box .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 30px 0;
    }

    .user-dashboard-info-box .candidates-list td {
        vertical-align: middle;
    }

    .user-dashboard-info-box td li {
        margin: 0 4px;
    }

    .user-dashboard-info-box .table thead th {
        border-bottom: none;
    }

    .table.manage-candidates-top th {
        border: 0;
    }

    .user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
        margin-bottom: 10px;
    }

    .table.manage-candidates-top {
        min-width: 650px;
    }

    .user-dashboard-info-box .candidate-list-details ul {
        color: #969696;
    }

    /* Candidate List */
    .candidate-list {
        background: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #eeeeee;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .candidate-list:hover {
        -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
        box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
        position: relative;
        z-index: 99;
    }

    .candidate-list:hover a.candidate-list-favourite {
        color: #e74c3c;
        -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
        box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
    }

    .candidate-list .candidate-list-image {
        margin-right: 25px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        border: none;
    }

    .candidate-list .candidate-list-image img {
        width: 80px;
        height: 80px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .candidate-list-title {
        margin-bottom: 5px;
    }

    .candidate-list-details ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .candidate-list-details ul li {
        margin: 5px 10px 5px 0px;
        font-size: 13px;
    }

    .candidate-list .candidate-list-favourite-time {
        margin-left: auto;
        text-align: center;
        font-size: 13px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
    }

    .candidate-list .candidate-list-favourite-time span {
        display: block;
        margin: 0 auto;
    }

    .candidate-list .candidate-list-favourite-time .candidate-list-favourite {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: 1px solid #eeeeee;
        border-radius: 100%;
        text-align: center;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin-bottom: 20px;
        font-size: 16px;
        color: #646f79;
    }

    .candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
        background: #ffffff;
        color: #e74c3c;
    }

    .candidate-banner .candidate-list:hover {
        position: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        z-index: inherit;
    }

    .bg-white {
        background-color: #ffffff !important;
    }

    .p-4 {
        padding: 1.5rem !important;
    }

    .mb-0, .my-0 {
        margin-bottom: 0 !important;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    .user-dashboard-info-box .candidates-list .thumb {
        margin-right: 20px;
    }
</style>

<script type="text/javascript">

</script>
</body>
</html>